@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-red: #E31E24;
  --bg-grey: #423E3C;
  --text-main: #423E3C;
  --font-main: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
  background: #ffffff;
  color: var(--text-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-main);
  font-weight: 900;
}

p, span, li, a {
  font-family: var(--font-main);
}

#root {
  width: 100%;
  min-height: 100vh;
}

::selection {
  background: var(--primary-red);
  color: #ffffff;
}